[Unit]
Description=Merrily Doorbell
After=network.target

[Service]
Type=simple
Envirnment=VIRTUAL_ENV='/home/stephen/Merrily/env'
User=stephen
WorkingDirectory=/home/stephen/Merrily
ExecStart=/home/stephen/Merrily/env/bin/python3 /home/stephen/Merrily/merrily/doorbell.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target