{% extends "base.html" %}
{% block content %}

{% if has_paginator %}
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Events per page:
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="?limit=10">10</a></li>
			<li><a href="?limit=20">20</a></li>
			<li><a href="?limit=50">50</a></li>
		<ul>
	</div>
	{% endif %}

<table class=table>
	<tr>
		<th>ID</th>
		<th>Timestamp</th>
		<th>Who</th>
		<th>Notes</th>
		<th>Answered?</th>
	</tr>
	{% for event in events %}
	<tr>
		<td>{{ event.id }}</td>
		<td>{{ event.timestamp | timeformat("%d/%m/%y %r") }}</td>
		<td>{{ event.entity }}</td>
		<td>{{ event.notes }}</td>
		<td>{{ event.answered | boolean_yesno() }}</td>
	{% endfor %}
</table>

{% endblock %}
