{% extends "base.html" %}
{% block content %}

{% if has_paginator %}
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Events per page:
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="?limit=10">10</a></li>
			<li><a href="?limit=20">20</a></li>
			<li><a href="?limit=50">50</a></li>
		<ul>
	</div>
	{% endif %}

<table class=table>
	<tr>
		<th>ID</th>
		<th>Timestamp</th>
		<th>Who</th>
		<th>Notes</th>
		<th>Answered?</th>
		<th><!--Links--></th>
	</tr>
	{% for event in events %}
	<tr>
		<td><a href="{{ url_for('single_event', id=event.id) }}" id="title-{{ event.id }}">{{ event.id }}</a></td>
		<td>{{ event.timestamp | timeformat("%d/%m/%y %r") }}</td>
		<td>{{ event.entity }}</td>
		<td>{{ event.notes }}</td>
		<td>{{ event.answered | boolean_yesno() }}</td>
		<td>
		{% if current_user.is_authenticated %}
		<a href="{{ url_for('edit_event_get', id=event.id) }}">Edit</a>
		&nbsp;
		<a href="{{ url_for('remove_event_get', id=event.id) }}">Delete</a>
		{% endif %}
		</td>
	{% endfor %}
</table>

<ul class="pager">
	{% if has_next %}
	<li class="previous">
	<a href="{{ url_for('show_recent_events', page=page + 1, limit=limit) }}">&larr; Older</a>
	</li>
	{% endif %}
	{% if has_prev %}
	<li class="next">
	<a href="{{ url_for('show_recent_events', page=page - 1, limit=limit) }}">&rarr; Newer</a>
	</li>
	{% endif %}
</ul>

{% endblock %}
